/* Image Gallery Import (Carousel) */
@import "~react-image-gallery/styles/css/image-gallery.css";

* {
  margin: 0;
  padding: 0;
}

/* Navbar default style reset  */
.MuiToolbar-gutters {
  padding: 0 !important;
}

/* Navbar */

.nav-logo {
  height: 60px;
  margin: 10px;
  padding: 0;
}

.nav-links {
  text-decoration: none;
  display: none;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: 0 50px;
}

.nav-links a {
  text-decoration: none;
  font-size: 1.5em;
  color: #f3f3f3;
  text-shadow: 2px 2px 5px black;
  transition: 0.2s ease;
}

.nav-links a:hover {
  font-size: 1.7em;
  transition: 0.2s ease;
}

/* Hamburger Menu Icon */

.MuiSvgIcon-root {
  width: 3rem !important;
  height: 3rem !important;
  padding-right: 0;
  
}

/* ***************** */

/* Drawer */
/* Drawer Icons  */

.MuiListItem-root .MuiSvgIcon-root {
  color: black;
  opacity: 0.8;
}

/* ***************** */

/* Carousel */

.slider-container {
  width: 100vw;
  min-height: 50%;
}
/* ***************** */

/* Productos Screen */

.products-container {
  width: 100vw;
  height: calc(100vh - 90px); /*Ver si esto anda en tablets y desktop */
  justify-content: center;
}
.products-title {
  text-align: center;
  font-size: 2.5em;
}

.products-list {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}
/* ***************** */

/* Productos Screen */

.product-container {
  width: 100%;
  height: 30%;
  margin: 10px;
  cursor: pointer;
  margin: 5px 0;
}

.product-img {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2%;

}

.product-title {
  color: white;
  font-size: 2.3rem;
  padding: 20px;
  text-shadow: 1.5px 1.5px 10px black;
}
/* ***************** */
